.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  font-size: 10px;
}

body {
  background: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  margin: 20vh auto;
  max-width: 650px;
}
.product-card {
  display: flex;
  background: white;
  max-width: 100%;
  border-radius: 10px;
}

.product-card__text {
  padding: 25px;
}

.add-to-cart-btn {
  display: flex;
  padding: 15px;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background: hsl(158, 36%, 37%);
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 2em 0 1em 0;
}

.add-to-cart-btn img {
  margin-right: 10px;
}

.product-card__text h1 {
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  letter-spacing: 0.4em;
  font-size: 1.5rem;
}

.product-card__text h2 {
  font-size: 3.8rem;
  font-family: "fraunces", serif;
  color: hsl(212, 21%, 14%);
}

.product-card__text h4 {
  font-size: 1.6rem;
  line-height: 1.7;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

.product-card__text .discounted-price {
  color: hsl(158, 36%, 37%);
  font-size: 3.8rem;
  font-family: "fraunces", serif;
}
.price {
  display: flex;
  align-items: center;
}
.previous-price {
  display: inline-block;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  padding: 20px;
  font-size: 1.5rem;
}

.mobile-img {
  display: none;
}

.desktop-img {
  width: 50%;
  border-radius: 10px 0px 0px 10px;
}

@media (max-width: 720px) {
  body {
    margin: 3vh auto;
    max-width: 500px;
  }
  .desktop-img {
    display: none;
  }
  .product-card {
    display: flex;
    flex-direction: column;
    max-width: 475px;
    margin: 10px;
    max-height: 95vh;
  }

  .product-card__text h2 {
    font-size: 3.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 400px;
  }

  .product-card__text h1 {
    margin: 0;
  }

  .product-card__text h4 {
    line-height: 1.4; 
    margin-top: 0; 
    font-size: 1.5rem; 
    max-width: 400px;
  }
  .mobile-img {
    display: block;
    border-radius: 10px 10px 0px 0px; 
  }

  .add-to-cart-btn {
    margin-top: 1rem; 
  }
}
